/*! HEADER:
 * LIFE 10/3/13 to 11/07/13
 * Custom CSS for Jesse Gangi's Online Resume
 * Copyright 2012-13 Jesse Gangi, Aerial Applications
 * Built by Ganginator for jessegangi.com
 */


/* NOTES:
EMPTY fields are for referencing what elements the code contains, whether or not I am applying a style.

IN DATABASE SITES, THE #page CONTENT AREA'S width, THE #page GLOBALS, AND THE content ARE DESIGNATED BY A DYNAMIC ?page=/?pagename= QUERY REFERENCING style, layout, AND content TABLES.

IN TEMPLATE SITES, WITHOUT A DATABASE, THE #page CONTENT IS FETCHED WITH $_GET BASED ON ?page=, AND THE RESPECTIVE FILES ARE LOCATED IN ~includes/content; WHILE THE LAYOUT IS DETERMINED BY THE RESPECTIVE FILES LOCATED IN ~includes.

I'm Still Modifying, and will remove uneccesary stuff as I go.
I'm still considering minifying eveything when finished.
Please give me credit where it is due.
And as always, contact me if you are interested in hiring me, or with any errors, sugestions, or help.
I also add some unnecessary Styles for referencing.
So don't be too surprised. ;-)

CONSIDER CHANGING TO em's OR rem's
http://blog.cloudfour.com/the-ems-have-it-proportional-media-queries-ftw
100% = 1 em ~= 16px ~= 14pt
*/

/* Definitions:
ID = Singular. i.e. A person's Identification (ID) is unique to one person.
Class = Multiple. i.e. There are many people in a class.
Padding = Defines the space inside the element between the content, and the element's border.
Margin = Defines the space outside the element between the element's border, and other elements.
*/

/* <!-- CONFIGURATION:
TIE FIGHTER - Custom DOG PHP Templates
--> */

/* THIS DOCUMENT IS ORDERED BY THE BELOW CSS SPECIFICITY */
/* CSS Specificity:
	#1 = !important Class
		+10000 Points
	#2 = Inline Styling, Style Attributes
		+1000 Points
	#3 = Identifiers, Types, Psuedo-elements
		+100 Points
	#4 = Classes, Psuedo-classes, Attributes
		+10 Points
	#5 = HTML, Elements, Content Elements
		+1 Points
*/


/*** IDs +100 ***/


#wrapper {
	/* border: 1px dashed blue; */
}

#outer {
	/* border: 1px dashed blue; */
}

#viewport {
	/* border: 1px dashed blue; */
}

#inner {
	/* border: 1px dashed blue; */
}

#content {
	/* border: 1px dashed blue; */
}

#leftsidebar {
	/* border: 1px dashed blue; */
}

#rightsidebar {
	/* border: 1px dashed blue; */
}

#credit {
	text-align: center;
	/* border: 1px dashed blue; */
}

#feet {
	/* border: 1px dashed blue; */
}


/* These are for the testing vertically centered images. */

#verticaltable {
	display: table;
	height: 100%;
	background-color: blue;
	/* border: 1px dashed blue; */
}

#verticalcell {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	background-color: silver;
	/* border: 1px dashed blue; */
}

/* THEY DON'T SEEMED TO WORK */


/*** END IDs ***/


/*** CLASSes +10 ***/


.100Center {
	width: 100%;
	text-align: center;
	margin: 0 auto;
}

.bump-right {
	margin-left: 40px;
}

.bump-left {
	margin-right: 40px;
}

.breadcrumb {
	text-align: center;
	text-decoration: none;
}

.breadcrumb a:hover {
	text-decoration: none;
}


/*** END CLASSes ***/


/*** ELEMENTS +1 ***/


head {
	/* border: 1px dashed green; */
}


body {
	margin: 0;
	font-family: Georgia, Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 20px;
	/* color: #333333; ORIGINAL */
	color: #5a5a5a;
	background-color: #000000;
	padding-bottom: 20px;
	/* border: 1px dashed green; */
}

header {
	/* border: 1px dashed green; */
}

article {
	/* border: 1px dashed green; */
}

aside {
	/* border: 1px dashed green; */
}

footer {
	/* border: 1px dashed green; */
}

iframe {
	color: silver;
	text-align: center;
	width: 100%;
	height: 400px;
	border: 0;
	/* border: 1px dashed green; */
}


/*** END ELEMENTS ***/


/*** CONTENT ELEMENTS +1 ***/


/* EMPTY */


/*** END CONTENT ELEMENTS ***/


/* STAMP:
	Jesse Gangi
	jessegangi.com
	218 310 2447
	jgangi @ aerialapps.com
	@Ganginator
	"It's always the padding..."
*/