/*! ROOT/stylesheets/scss/partials/_content-elements.scss */


/** CONTENT ELEMENTS +1 yellow **/


h1, h2, h3, h4, h5 {
	/* border: 1px dashed yellow; */
}

h1 {
	/* border: 1px dashed yellow; */
}

h2 {
	/* border: 1px dashed yellow; */
}

h3 {
	/* border: 1px dashed yellow; */
}

h4 {
	/* border: 1px dashed yellow; */
}

h5 {
	/* border: 1px dashed yellow; */
}

p {
	/* border: 1px dashed yellow; */
}

a {
	/* border: 1px dashed yellow; */
}

a:link {
	color: blue;
	/* color: red; */
	/* color: #FF0000; */
	/* border: 1px dashed yellow; */
}

a:visited {
	color: black;
	/* color: #00FF00; */
	/* border: 1px dashed yellow; */
}

a:hover {
	color: blue;
	/* color: #FF00FF; */
	/* border: 1px dashed yellow; */
	/* border-bottom: 1px solid black; */
}

a:active {
	/* color: blue; */
	color: red;
	/* color: #0000FF; */
	/* border: 1px dashed yellow; */
}


/** / CONTENT ELEMENTS **/


