/*! ROOT/stylesheets/scss/partials/_helper-classes.scss */


/** HELPER CLASSES +10 orange **/


.x100-center {
	width: 100%;
	text-align: center;
	margin: 0 auto;
	/* border: 1px dashed orange; */
}

.bump-right {
	margin-left: 40px;
	/* border: 1px dashed orange; */
}

.bump-left {
	margin-right: 40px;
	/* border: 1px dashed orange; */
}

.margin-top {
	margin-top: 10px;
	/* border: 1px dashed orange; */
}

.green {
	color: green;
	border: 1px dashed orange;
}


/** / HELPER CLASSES **/


