/*! ROOT/stylesheets/scss/partials/_ids.scss */


/*** IDs +100 blue ***/


/** ALL THE THINGS **/


#aih1tb {
	/* margin: 20px;*/
	/* border: 1px dashed blue; */
}

#blurb {
	/* margin-bottom: 30px; */
	/* border: 1px dashed blue; */
}

#content {
	/* text-align: center; */
	/* margin: 30px 0 20px 0; */
	/* border: 1px dashed blue; */
}

#headshot {
	/* float: left; */
	/* border: 1px dashed red; */
}

#portfolio img {
	margin: 10px;
	/* border: 1px dashed blue; */
}

#activities img {
	margin: 10px;
	/* border: 1px dashed blue; */
}

#blurb-footer {
	/* text-align: center; */
	/* margin-top: 30px; */
	/* font-weight: bold; */
	/* border: 1px dashed blue; */
}

#credit {
	margin: 0 0 20px 0;
	/* text-align: center; */
	/* border: 1px dashed blue; */
}

#credit a:link {
	/* color: blue; */
	/* color: #FF0000; */
	/* border: 1px dashed blue; */
}

#credit a:visited {
	/* color: black; */
	/* color: #00FF00; */
	/* border: 1px dashed blue; */
}

#credit a:hover {
	/* color: blue; */
	/* color: #FF00FF; */
	/* border: 1px dashed blue; */
	/* border-bottom: 1px solid black; */
}

#credit a:active {
	/* color: white; */
	/* color: #0000FF; */
	/* border: 1px dashed blue; */
}

#timeline-js {
	/* border: 1px dashed blue; */
}


/** / ALL THE THINGS **/


/*** / IDs ***/


