/*** IDs +100 blue ***/


#content {
	/* text-align: center; */
	/* margin: 30px 0 20px 0; */
	/* border: 1px dashed blue; */
}

#home {
	/* border: 1px dashed blue; */
}

#aih1tb {
	/* margin: 20px; */
	/* border: 1px dashed blue; */
}

#blurb {
	/* margin-bottom: 30px; */
	/* border: 1px dashed blue; */
}

#timeline-js {
	/* border: 1px dashed blue; */
}


/* VERIFIED ABOVE */


#credit {
	/* text-align: center; */
	/* border: 1px dashed blue; */
}

#feet {
	/* border: 1px dashed blue; */
}


	/** / VERTICLE CENTERING +100 white **/
	/* These are for the testing vertically centered images. */
	/* Also need to figure out general verticle centering. */
	/* THEY DON'T SEEM TO WORK */
	
	
	#verticaltable {
		/* display: table; */
		/* height: 100%; */
		/* background-color: blue; */
		/* border: 1px dashed white; */
	}
	
	#verticalcell {
		/* display: table-cell; */
		/* vertical-align: middle; */
		/* text-align: center; */
		/* background-color: silver; */
		/* border: 1px dashed white; */
	}
	
	
	/** / VERTICLE CENTERING **/


/*** / IDs ***/


/*** CLASSes +10 red ***/


.page {
	/* text-align: center; */
	/* border: 1px dashed red; */
}

.wrapper {
	/* text-align: center; */
	/* border: 1px dashed red; */
}


/* VERIFIED ABOVE */


.breadcrumb {
	text-align: center;
	text-decoration: none;
	/* border: 1px dashed red; */
}

.breadcrumb a:hover {
	text-decoration: none;
	/* border: 1px dashed red; */
}


	/** COLUMN CLASSES +10 indigo **/
	
	
	/* EMPTY */
	
	
	/** / COLUMN CLASSES **/


	/** HELPER CLASSES +10 orange **/
	
	
	.100-center {
		width: 100%;
		text-align: center;
		margin: 0 auto;
		/* border: 1px dashed orange; */
	}
	
	.bump-right {
		margin-left: 40px;
		/* border: 1px dashed orange; */
	}
	
	.bump-left {
		margin-right: 40px;
		/* border: 1px dashed orange; */
	}
	
	
	/** / HELPER CLASSES **/


	/** ICONS +10 violet **/
	
	
	/* EMPTY */
	
	
	/** / ICONS **/


/*** / CLASSes ***/


/*** ELEMENTS +1 green ***/


/*
head {
	DO NOT STYLE!
}
*/

body {
	/* margin: 0; */
	font-family: Georgia, Helvetica, Arial, sans-serif;
	/* font-size: 14px; */
	/* line-height: 20px; */
	/* color: #333333; ORIGINAL */
	/* color: #5a5a5a; */
	/* background-color: #000000; */
	/* padding-bottom: 20px; */
	/* border: 1px dashed green; */
}

header {
	/* border: 1px dashed green; */
}

nav {
	/* border: 1px dashed green; */
}

article{
	/* border: 1px dashed green; */
}

iframe {
	/* color: silver; */
	/* text-align: center; */
	/* width: 100%; */
	/* height: 400px; */
	/* border: 0; */
	/* border: 1px dashed green; */
}


/* VERIFIED ABOVE */


aside {
	/* border: 1px dashed green; */
}

footer {
	/* border: 1px dashed green; */
}


	/** CONTENT ELEMENTS +1 yellow **/
	
	
	h1, h2, h3, h4, h5 {
		/* border: 1px dashed yellow; */
	}
	
	h1 {
		/* border: 1px dashed yellow; */
	}
	
	h2 {
		/* border: 1px dashed yellow; */
	}
	
	h3 {
		/* border: 1px dashed yellow; */
	}
	
	h4 {
		/* border: 1px dashed yellow; */
	}
	
	h5 {
		/* border: 1px dashed yellow; */
	}
	
	p {
		/* border: 1px dashed yellow; */
	}
	
	a {
		/* border: 1px dashed yellow; */
	}
	
	
	/** / CONTENT ELEMENTS **/


/*** / ELEMENTS ***/
